	</div>

	</div>
	

	
<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<!-- endbower -->
<!-- endbuild -->

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
//TODO put google analytics here
</script>

<!-- build:js(.) scripts/plugins.js -->
<script src="/components/jquery/dist/jquery.min.js"></script>
<script src="/components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/components/angular/angular.min.js"></script>
<script src="/components/angular-ui-utils/ui-utils.min.js"></script>
<script src="/components/angular-animate/angular-animate.min.js"></script>
<script src="/components/angular-bootstrap/ui-bootstrap.min.js"></script>


<!-- endbuild -->

<!-- build:js({app,.tmp}) scripts/main.js -->
<script src="/js/app.js"></script>
<% if (title == 'Designs') { %>
	<script src="/js/designs.js"></script>
<% } else if (title=='Design') { %>
	<script src="/js/design.js"></script>
<% } %>
<!-- endbuild -->

</body>
</html>
