<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>Shapefactory - <%-title %></title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
		
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.css">
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <!-- <link rel="stylesheet" href="styles/main.css"> -->
  <!-- endbuild -->
  <!-- build:js scripts/vendor/modernizr.js -->
  <script src="/components/modernizr/modernizr.js"></script>
  <!-- endbuild -->

</head>
<body>
	
	<div ng-app="customizerApp" ng-controller="customizerCtrl">

	<div class="container">		