<div class="footer">
    <p><span class="glyphicon glyphicon-heart"></span> from the SCAD team</p>
</div>

<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<!-- endbower -->
<!-- endbuild -->

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
//TODO put google analytics here
</script>

<!-- build:js(.) scripts/plugins.js -->
<script src="/components/jquery/dist/jquery.min.js"></script>
<script src="/components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- endbuild -->

<!-- build:js({app,.tmp}) scripts/main.js -->
<script src="js/app.js"></script>
<!-- endbuild -->

</body>
</html>
