<!doctype html>
<html lang="en" class="no-js">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>OpenSCAD - <%-title %></title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
	<!--<script src="http://localhost:35729/livereload.js"></script>-->

  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.css">
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <!-- <link rel="stylesheet" href="styles/main.css"> -->
  <!-- endbuild -->
  <!-- build:js scripts/vendor/modernizr.js -->
  <script src="/components/modernizr/modernizr.js"></script>
  <!-- endbuild -->

</head>
<body>

    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->


    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
					<script>
					console.log("<%=title %>");
					</script>

					<li <% if (title == 'Home') { %>class="active" <% } %> ><a href="/">Home</a></li>
                    <li <% if (title == 'Designs') { %>class="active" <% } %> ><a href="/designs">Designs</a></li>
					<li <% if (title == 'About') { %>class="active" <% } %> ><a href="/about">About</a></li>
					<li <% if (title == 'Contact') { %>class="active" <% } %> ><a href="/contact">Contact</a></li>

          <% if(user) { %>
              <li><a href="/logout">Logout</a></li>
            <% } else { %>
              <li><a href="/login">Login</a></li>
            <% } %>
        </ul>
        <h3 class="text-muted">SCAD Web</h3>
      </div>
