<% include layout/designs_header %>

	<div class="row" ng-cloak>
		<div class="page-header">
		  <h1>Shapefactory <small><%-title %> - {{design.title}}</small></h1>
		</div>
	</div>

	<div class="row" ng-cloak id="design{{design.id}}">

		<div class="col-sm-6">

			<form name="customizeScad" novalidate class="form-horizontal" role="form" ng-submit="submit()">

				<div class="form-group" ng-repeat="x in data_json">

		      <div ng-if="x[3] == 'text' ">
						<label for="{{x[0][0]}}" class="col-sm-4 control-label">{{x[0][0]|inflector:"humanize"}}</label>
						<div class="col-sm-8">
							<span ng-if="x[2] != 'null'" class="help-block">{{x[2]}}</span>
							<input ng-init="customizerVar[x[0][0]]=x[0][1]" type="text" name="{{x[0][0]}}" value="{{x[0][1]}}" ng-model="customizerVar[x[0][0]]" class="form-control" ng-model-options="{ debounce: 100 }" ng-change="change()">
						</div>
					</div>
					
		      <div ng-if="x[3] == 'number' ">
						<label for="{{x[0][0]}}" class="col-sm-4 control-label">{{x[0][0]|inflector:"humanize"}}</label>
						<div class="col-sm-8">
							<span ng-if="x[2] != 'null'" class="help-block">{{x[2]}}</span>
							<input ng-init="customizerVar[x[0][0]]=x[0][1]" type="number" name="{{x[0][0]}}" value="{{x[0][1]}}" ng-model="customizerVar[x[0][0]]" class="form-control" ng-model-options="{ debounce: 100 }" ng-change="change()">
						</div>
					</div>

		      <div ng-if="x[3] == 'select' ">
						<label for="{{x[0][0]}}" class="col-sm-4 control-label">{{x[0][0]|inflector:"humanize"}}</label>
						<div class="col-sm-8">
							<span ng-if="x[2] != 'null'" class="help-block">{{x[2]}}</span>
							<select ng-init="customizerVar[x[0][0]]=x[0][1]" ng-model="customizerVar[x[0][0]]" name="{{x[0][0]}}" class="form-control" ng-model-options="{ debounce: 100 }" ng-change="change()">
								<option ng-selected="y[0] == x[0][1]" ng-repeat="y in x[1]" value="{{y[0]}}">{{y[1]}}</option>
							</select>
						</div>
					</div>

		      <div ng-if="x[3] == 'range' ">
						<label for="{{x[0][0]}}" class="col-sm-4 control-label">{{x[0][0]|inflector:"humanize"}} ({{x[1][0][0]}} - {{x[1][0][1]}})</label>
						<div class="col-sm-8" ng-init="range=x[0][1]">
							<span ng-if="x[2] != 'null'" class="help-block">{{x[2]}} {{customizerVar[x[0][0]]}}</span>
							<input ng-init="customizerVar[x[0][0]]=x[0][1]" type="range" name="{{x[0][0]}}" min={{x[1][0][0]}} max={{x[1][0][1]}} ng-model="customizerVar[x[0][0]]" value="{{x[0][1]}}"  ng-model-options="{ debounce: 100 }" ng-change="change()">
						</div>
					</div>
			
				</div>

				<div class="col-sm-6"></div>
				<div class="col-sm-6">
	      	<button type="submit" class="btn btn-default">Download STL</button>
				</div>
			</form>

		</div>
		
		<div class="col-sm-6">
			
			<div class="pull-right form-group" style="width:335px; height:335px;">
					<img ng-show="showPreview" class="animate-hide" ng-src="{{design.imageurl}}" width="335px"/>
			</div>

    <div class="form-group btn-group">
        <label class="btn btn-default" ng-model="previewAngle" ng-change="change()" btn-radio="'default'">Default</label>
        <label class="btn btn-default" ng-model="previewAngle" ng-change="change()" btn-radio="'top'">Top</label>
        <label class="btn btn-default" ng-model="previewAngle" ng-change="change()" btn-radio="'bottom'">Btm</label>
        <label class="btn btn-default" ng-model="previewAngle" ng-change="change()" btn-radio="'left'">Left</label>
        <label class="btn btn-default" ng-model="previewAngle" ng-change="change()" btn-radio="'right'">Right</label>
        <label class="btn btn-default" ng-model="previewAngle" ng-change="change()" btn-radio="'back'">Back</label>
    </div>
		</div>
		
	</div>
	
		
	</div>

<% include layout/designs_footer %>