<% include layout/designs_header %>

	<div class="row">
		<div class="page-header">
		  <h1>Shapefactory <small><%-title %></small></h1>
		</div>
	</div>

	<div class="row">

		<div class="col-sm-4">
			
			<div class="form-group" ng-repeat="design in designs" ng-model="inflectorType">
					<div ng-cloak id="design{{design.id}}">
						{{design.title}}
						<a href="/designs/{{design.id}}"><img ng-src="{{design.imageurl}}" width="200"/></a>
					</div>
			</div>

		</div>
		
	</div>

<% include layout/designs_footer %>