<% include layout/header %>

<div class="jumbotron">
    <h1>OpenSCAD WEB - <%= title %></h1>
    <p class="lead">
    <% if(user) { %>
    Hi <%= user.name %> !!!
    <% } %>

    </p>
    <p><a class="btn btn-lg btn-success" href="#">Do Something! <span class="glyphicon glyphicon-ok"></span></a></p>
  </div>

  <div class="row marketing">
    <div class="col-lg-6">
      <h4>Config</h4>
      <p>Debug config</p>
      <code><%- JSON.stringify(config) %></code>
      <p>Debug user</p>
      <code><%- JSON.stringify(user) %></code>
    </div>
</div>

<% include layout/footer %>
