<% include layout/login_header %>

    <div class="container">

      <% if ( error != "" ) { %>
          <div class="alert alert-danger" role="alert"><%= error %></div>
      <% } %>

      <form class="form-signin" role="form" method="POST" action="/auth/local" >
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input name="username" type="login" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <a class="btn btn-lg btn-success btn-block" href="/auth/github">Login with GitHub</a>
        <a class="btn btn-lg btn-success btn-block" href="/auth/facebook">Login with Facebook</a>
        <a class="btn btn-lg btn-success btn-block" href="/auth/dropbox">Login with Dropbox</a>

      </form>

    </div> <!-- /container -->

<% include layout/login_footer %>
